In [1]:
# Desafio 3
import psycopg2
import pandas as pd
from decouple import config

In [2]:
df_itens_venda = pd.read_excel('../itens_venda.xlsx')
df_venda = pd.read_excel('../venda.xlsx')
df_cliente  = pd.read_excel('../cliente.xlsx')
df_categoria = pd.read_excel('../categoria.xlsx')
df_produto = pd.read_excel('../produto.xlsx')

In [3]:
df_produto.head()

    id          produto   preco  categoria_id
0  122    industry most   17.46           124
1  554  involve machine   19.39           124
2  936        risk care   80.14           124
3  397      least prove   29.28           842
4  322    think already  155.39           249

In [4]:
df_cliente.head()

    id               nome
0  460     Thomas Anthony
1  981  Alexander Hancock
2  909         Tony Green
3  715   Stephanie Becker
4  778      Micheal Dixon

In [5]:
def insert_cliente():
    for i, row in df_cliente.iterrows():
        name = row["nome"]
        cursor.execute(f"INSERT INTO cliente (nome) VALUES ('{name}') ON CONFLICT DO NOTHING")  # noqa
    connection.commit()

In [6]:
#Adicionando as novas tabela no banco "my_db"
try:
    connection = psycopg2.connect(user = "my_user",
                                  password = config("PASSWORD"),
                                  host = "127.0.0.1",
                                  port = "5432",
                                  database = "my_db")

    cursor = connection.cursor()
    # Print PostgreSQL Connection properties
    print ( connection.get_dsn_parameters(),"\n")

    # Print PostgreSQL version
    cursor.execute("SELECT version();")
    record = cursor.fetchone()
    print("You are connected to - ", record,"\n")

except (Exception, psycopg2.Error) as error :
    print ("Error while connecting to PostgreSQL", error)

{'user': 'my_user', 'dbname': 'my_db', 'host': '127.0.0.1', 'port': '5432', 'tty': '', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

You are connected to -  ('PostgreSQL 11.7 (Ubuntu 11.7-0ubuntu0.19.10.1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 9.2.1-9ubuntu2) 9.2.1 20191008, 64-bit',)

In [7]:
cur = connection.cursor()

In [8]:
insert_cliente()

In [9]:
df_categoria.head()

    id   categoria
0  169     bebidas
1  249  sobremesas
2  215     cereais
3  842       frios
4  227     limpeza

In [10]:
def insert_categoria():
    for i, row in df_categoria.iterrows():
        name = row["categoria"]
        cursor.execute(f"INSERT INTO categoria (categoria) VALUES ('{name}') ON CONFLICT DO NOTHING")  # noqa
    connection.commit()

In [11]:
insert_categoria()

In [12]:
cursor.execute('SELECT * FROM categoria;')
cursor.fetchall()

[(1, 'bebidas'),
 (2, 'sobremesas'),
 (3, 'cereais'),
 (4, 'frios'),
 (5, 'limpeza'),
 (6, 'hortifruti'),
 (7, 'perfumaria'),
 (8, 'mercearia'),
 (9, 'bazar'),
 (10, 'pet shop')]

In [13]:
def get_data(items, field='categoria'):
    '''
    Lê os dados para extrair id e um outro campo como identificador único
    e monta um dicionário.
    # https://gist.github.com/rg3915/0f63ee9bde818c4a56abb110c94b855b
    '''
    my_dict = {}
    for item in items:
        my_dict[str(item['id'])] = item[field]
    return my_dict

In [14]:
# Monta uma lista de categorias.
items = df_categoria.T.apply(dict).tolist()

In [15]:
# Monta um dicionário de categorias.
dict_categoria = get_data(items)

In [16]:
dict_categoria

{'169': 'bebidas',
 '249': 'sobremesas',
 '215': 'cereais',
 '842': 'frios',
 '227': 'limpeza',
 '678': 'hortifruti',
 '124': 'perfumaria',
 '563': 'mercearia',
 '734': 'bazar',
 '484': 'pet shop'}

In [17]:
def insert_produto():
    for i, row in df_produto.iterrows():
        produto = row["produto"]
        preco = round(row['preco'] * 5.6, 2)
        print(row['categoria_id'])
        campo = dict_categoria.get(str(row['categoria_id']))
        print(campo)
        cursor.execute(f"SELECT * FROM categoria WHERE categoria='{campo}';")
        categoria = cursor.fetchall()
        print(categoria)
        print(categoria[0][0])
        categoria_id = categoria[0][0]
        cursor.execute(f"INSERT INTO produto (produto, preco, categoria_id) VALUES ('{produto}', '{preco}', '{categoria_id}') ON CONFLICT DO NOTHING")  # noqa
    connection.commit()

In [18]:
insert_produto()

124
perfumaria
[(7, 'perfumaria')]
7
124
perfumaria
[(7, 'perfumaria')]
7
124
perfumaria
[(7, 'perfumaria')]
7
842
frios
[(4, 'frios')]
4
249
sobremesas
[(2, 'sobremesas')]
2
124
perfumaria
[(7, 'perfumaria')]
7
678
hortifruti
[(6, 'hortifruti')]
6
678
hortifruti
[(6, 'hortifruti')]
6
227
limpeza
[(5, 'limpeza')]
5
734
bazar
[(9, 'bazar')]
9
678
hortifruti
[(6, 'hortifruti')]
6
734
bazar
[(9, 'bazar')]
9
734
bazar
[(9, 'bazar')]
9
249
sobremesas
[(2, 'sobremesas')]
2
124
perfumaria
[(7, 'perfumaria')]
7
563
mercearia
[(8, 'mercearia')]
8
842
frios
[(4, 'frios')]
4
227
limpeza
[(5, 'limpeza')]
5
169
bebidas
[(1, 'bebidas')]
1
215
cereais
[(3, 'cereais')]
3
215
cereais
[(3, 'cereais')]
3
124
perfumaria
[(7, 'perfumaria')]
7
227
limpeza
[(5, 'limpeza')]
5
678
hortifruti
[(6, 'hortifruti')]
6
124
perfumaria
[(7, 'perfumaria')]
7
563
mercearia
[(8, 'mercearia')]
8
678
hortifruti
[(6, 'hortifruti')]
6
678
hortifruti
[(6, 'hortifruti')]
6
169
bebidas
[(1, 'bebidas')]
1
227
limpeza
[(5, 'limpeza')]
5
124
perfumaria
[(7, 'perfumaria')]
7
484
pet shop
[(10, 'pet shop')]
10
227
limpeza
[(5, 'limpeza')]
5
215
cereais
[(3, 'cereais')]
3
249
sobremesas
[(2, 'sobremesas')]
2
215
cereais
[(3, 'cereais')]
3
842
frios
[(4, 'frios')]
4
842
frios
[(4, 'frios')]
4
215
cereais
[(3, 'cereais')]
3
842
frios
[(4, 'frios')]
4
678
hortifruti
[(6, 'hortifruti')]
6
249
sobremesas
[(2, 'sobremesas')]
2
124
perfumaria
[(7, 'perfumaria')]
7
124
perfumaria
[(7, 'perfumaria')]
7
227
limpeza
[(5, 'limpeza')]
5
124
perfumaria
[(7, 'perfumaria')]
7
215
cereais
[(3, 'cereais')]
3
227
limpeza
[(5, 'limpeza')]
5
169
bebidas
[(1, 'bebidas')]
1
227
limpeza
[(5, 'limpeza')]
5

In [19]:
lista = [(1, 'Regis'), (2, 'João')]

In [20]:
lista[0]

(1, 'Regis')

In [21]:
lista[0][1]

'Regis'

In [22]:
lista[0][0]

1

In [23]:
# Monta uma lista de clientes.
items_cliente = df_cliente.T.apply(dict).tolist()
items_cliente[:1]

[{'id': 460, 'nome': 'Thomas Anthony'}]

In [24]:
# Monta um dicionário de clientes.
dict_cliente = get_data(items=items_cliente, field='nome')
dict_cliente

{'460': 'Thomas Anthony',
 '981': 'Lauren Garza',
 '909': 'Tony Green',
 '715': 'Stephanie Becker',
 '778': 'Micheal Dixon',
 '193': 'Tara Scott',
 '669': 'Tina Anderson',
 '333': 'Robert Hunt',
 '745': 'Michael Johnston',
 '131': 'Heather Kelly',
 '827': 'Daniel Crawford',
 '830': 'Maria Nixon',
 '124': 'Joshua Lewis',
 '344': 'Ashley Case',
 '317': 'Sean Clark',
 '145': 'Nicole Sosa',
 '377': 'Tracy Rivera',
 '762': 'Carrie Tapia',
 '597': 'Crystal Schmidt',
 '574': 'Kimberly Gibbs',
 '930': 'Cassidy Johnson',
 '239': 'Nicole Ramos',
 '781': 'Patrick Bass',
 '166': 'Dustin Lee',
 '227': 'Emily Hull',
 '175': 'Wendy Pacheco',
 '738': 'Molly Waters',
 '633': 'Eric Meyer',
 '812': 'Craig Johnson Jr.',
 '459': 'William Reid',
 '234': 'Shirley Cook',
 '184': 'Jeffrey George',
 '670': 'Nicole Wagner',
 '209': 'James Galloway',
 '563': 'Richard English',
 '977': 'Rachel Brown',
 '361': 'Colin Reynolds',
 '709': 'Jimmy Singh',
 '525': 'Tiffany Alvarado',
 '408': 'Rodney Clements',
 '643': 'David Andrews',
 '886': 'Donna Calderon',
 '153': 'Ann Brown',
 '731': 'Lawrence Murphy',
 '822': 'Jill Barber',
 '914': 'Jasmine Lawson'}

In [25]:
def insert_venda():
    for i, row in df_venda.iterrows():
        print(row)
        data = row['data']
        campo = dict_cliente.get(str(row['cliente_id']))
        print(campo)
        cursor.execute(f"SELECT * FROM cliente WHERE nome='{campo}';")
        cliente = cursor.fetchall()
        print(cliente)
        print(cliente[0][0])
        cliente_id = cliente[0][0]
        slug = row['slug']
        cursor.execute(f"INSERT INTO venda (data, cliente_id, slug) VALUES ('{data}', '{cliente_id}', '{slug}') ON CONFLICT DO NOTHING")  # noqa
    connection.commit()
insert_venda()

id                                             490
data                                    2020-03-15
cliente_id                                     822
slug          07f8690e-d1d8-41dc-b866-cdbbbfad445e
Name: 0, dtype: object
Jill Barber
[(48, 'Jill Barber')]
48
id                                             624
data                                    2020-05-06
cliente_id                                     778
slug          39b30e02-17a8-4527-a23b-99ed78602bb4
Name: 1, dtype: object
Micheal Dixon
[(5, 'Micheal Dixon')]
5
id                                             128
data                                    2020-05-15
cliente_id                                     762
slug          6cc58638-feea-4f3c-8da6-c9611ac1de65
Name: 2, dtype: object
Carrie Tapia
[(19, 'Carrie Tapia')]
19
id                                             792
data                                    2020-10-06
cliente_id                                     153
slug          3d6c6822-7851-483f-95d4-c375abda6e51
Name: 3, dtype: object
Ann Brown
[(46, 'Ann Brown')]
46
id                                             602
data                                    2020-11-11
cliente_id                                     317
slug          36aab7e1-4c1d-4044-9977-d2d006df0f9b
Name: 4, dtype: object
Sean Clark
[(16, 'Sean Clark')]
16
id                                             194
data                                    2020-08-19
cliente_id                                     643
slug          aa060ef8-5931-48d9-9ea4-9aa1eeebd910
Name: 5, dtype: object
David Andrews
[(44, 'David Andrews')]
44
id                                             976
data                                    2020-12-15
cliente_id                                     731
slug          b08121cb-e7cd-477f-b3be-4888a869dc5a
Name: 6, dtype: object
Lawrence Murphy
[(47, 'Lawrence Murphy')]
47
id                                             264
data                                    2020-07-19
cliente_id                                     778
slug          d5feb6f3-87cf-416c-8a81-b96d88a180e9
Name: 7, dtype: object
Micheal Dixon
[(5, 'Micheal Dixon')]
5
id                                             821
data                                    2020-08-27
cliente_id                                     981
slug          94a52c2a-c7bc-4abd-9556-6b92b9064129
Name: 8, dtype: object
Lauren Garza
[(15, 'Lauren Garza')]
15
id                                             381
data                                    2020-06-15
cliente_id                                     738
slug          48fe67f4-3581-47cd-93ad-83596e8e593e
Name: 9, dtype: object
Molly Waters
[(28, 'Molly Waters')]
28
id                                             159
data                                    2020-06-19
cliente_id                                     153
slug          dd7f8f47-1f54-4bec-89d2-54c11f3e8e9f
Name: 10, dtype: object
Ann Brown
[(46, 'Ann Brown')]
46
id                                             888
data                                    2020-11-27
cliente_id                                     909
slug          7edafde0-90e0-40cf-a0b5-5a79ffcbf538
Name: 11, dtype: object
Tony Green
[(3, 'Tony Green')]
3
id                                             454
data                                    2020-01-03
cliente_id                                     175
slug          13a3d1b1-aca5-423b-87d7-3266286590b4
Name: 12, dtype: object
Wendy Pacheco
[(42, 'Wendy Pacheco')]
42
id                                             387
data                                    2020-09-13
cliente_id                                     239
slug          b623f81f-f97e-4a49-b87f-e23abe855a6a
Name: 13, dtype: object
Nicole Ramos
[(23, 'Nicole Ramos')]
23
id                                             651
data                                    2020-05-27
cliente_id                                     227
slug          86b80841-f35e-4634-9644-795cab229b56
Name: 14, dtype: object
Emily Hull
[(26, 'Emily Hull')]
26
id                                             805
data                                    2020-12-21
cliente_id                                     574
slug          c8af36cd-33a2-4940-a114-10a4fe0fcfa0
Name: 15, dtype: object
Kimberly Gibbs
[(21, 'Kimberly Gibbs')]
21
id                                             355
data                                    2020-01-05
cliente_id                                     669
slug          0a419692-57eb-42c5-b78d-2ea84a46e8b7
Name: 16, dtype: object
Tina Anderson
[(7, 'Tina Anderson')]
7
id                                             296
data                                    2020-06-11
cliente_id                                     239
slug          130077fb-dca1-45e4-b519-dc5360603c1b
Name: 17, dtype: object
Nicole Ramos
[(23, 'Nicole Ramos')]
23
id                                             327
data                                    2020-10-16
cliente_id                                     914
slug          d66aa5b6-8e7e-465e-98d9-8f0ab16792f9
Name: 18, dtype: object
Jasmine Lawson
[(49, 'Jasmine Lawson')]
49
id                                             478
data                                    2020-11-14
cliente_id                                     574
slug          4d707264-2216-45f0-a52f-c3273aa0add8
Name: 19, dtype: object
Kimberly Gibbs
[(21, 'Kimberly Gibbs')]
21
id                                             624
data                                    2020-01-22
cliente_id                                     574
slug          5c2261e9-2d9f-4040-8d74-2b458116dd16
Name: 20, dtype: object
Kimberly Gibbs
[(21, 'Kimberly Gibbs')]
21
id                                             125
data                                    2020-12-24
cliente_id                                     812
slug          791939b3-af89-474d-9fe2-a04771a228c5
Name: 21, dtype: object
Craig Johnson Jr.
[(30, 'Craig Johnson Jr.')]
30
id                                             939
data                                    2020-06-24
cliente_id                                     914
slug          bc119b70-2de7-4c5a-922e-21d5df005e72
Name: 22, dtype: object
Jasmine Lawson
[(49, 'Jasmine Lawson')]
49
id                                             148
data                                    2020-07-18
cliente_id                                     574
slug          21ce7f93-0ea0-45ad-8cd1-d75829c3ac2e
Name: 23, dtype: object
Kimberly Gibbs
[(21, 'Kimberly Gibbs')]
21
id                                             204
data                                    2020-12-24
cliente_id                                     563
slug          e2730d49-e101-47e5-b594-b8c6ed15c00f
Name: 24, dtype: object
Richard English
[(37, 'Richard English')]
37
id                                             918
data                                    2020-08-21
cliente_id                                     633
slug          d07abdd1-5b20-49b5-8cbb-21380266cc4f
Name: 25, dtype: object
Eric Meyer
[(29, 'Eric Meyer')]
29
id                                             580
data                                    2020-12-21
cliente_id                                     914
slug          c1447bed-a249-4dd4-aea5-79883338d70c
Name: 26, dtype: object
Jasmine Lawson
[(49, 'Jasmine Lawson')]
49
id                                             137
data                                    2020-02-17
cliente_id                                     930
slug          888b6d9c-29e8-4c5a-b4d9-8ea2fbd1e148
Name: 27, dtype: object
Cassidy Johnson
[(22, 'Cassidy Johnson')]
22
id                                             724
data                                    2020-05-08
cliente_id                                     166
slug          e8c8c72a-987d-4356-9eb7-79e16af3896a
Name: 28, dtype: object
Dustin Lee
[(25, 'Dustin Lee')]
25
id                                             306
data                                    2020-04-18
cliente_id                                     715
slug          ba2c5288-8655-4085-b2bb-c3926092d9c4
Name: 29, dtype: object
Stephanie Becker
[(4, 'Stephanie Becker')]
4
id                                             291
data                                    2020-06-23
cliente_id                                     909
slug          627d4f16-61eb-4027-9998-72b2b844e57c
Name: 30, dtype: object
Tony Green
[(3, 'Tony Green')]
3
id                                             908
data                                    2020-04-15
cliente_id                                     827
slug          f89edb54-ffe5-4339-8199-2b087bb5d34e
Name: 31, dtype: object
Daniel Crawford
[(11, 'Daniel Crawford')]
11
id                                             758
data                                    2020-05-07
cliente_id                                     460
slug          85c0ec3e-7c51-40ad-82d9-97e9e7e0d1cf
Name: 32, dtype: object
Thomas Anthony
[(1, 'Thomas Anthony')]
1
id                                             747
data                                    2020-10-07
cliente_id                                     193
slug          91b9cd9b-5d9c-411d-b7ab-29c8d3df67a7
Name: 33, dtype: object
Tara Scott
[(6, 'Tara Scott')]
6
id                                             599
data                                    2020-07-23
cliente_id                                     166
slug          14e3970b-e9e3-4417-b70f-aeb5783d0ab3
Name: 34, dtype: object
Dustin Lee
[(25, 'Dustin Lee')]
25
id                                             390
data                                    2020-10-19
cliente_id                                     981
slug          bc97508a-82c0-49f3-a239-abbb1c756afe
Name: 35, dtype: object
Lauren Garza
[(15, 'Lauren Garza')]
15
id                                             616
data                                    2020-06-06
cliente_id                                     914
slug          c0f172ff-3e98-47e2-a17d-84ce54b4dcf0
Name: 36, dtype: object
Jasmine Lawson
[(49, 'Jasmine Lawson')]
49
id                                             942
data                                    2020-10-05
cliente_id                                     812
slug          3b1243a8-a765-4df0-9240-14c2fcbea855
Name: 37, dtype: object
Craig Johnson Jr.
[(30, 'Craig Johnson Jr.')]
30
id                                             248
data                                    2020-01-20
cliente_id                                     175
slug          ad2f7195-0402-41e0-bdb9-7a7830ee262a
Name: 38, dtype: object
Wendy Pacheco
[(42, 'Wendy Pacheco')]
42
id                                             804
data                                    2020-12-23
cliente_id                                     317
slug          e4555a6e-e78c-4f52-8bf8-9877e62ee88e
Name: 39, dtype: object
Sean Clark
[(16, 'Sean Clark')]
16
id                                             520
data                                    2020-09-23
cliente_id                                     827
slug          7aa58f25-0931-4f5d-bad9-3606fc1382ad
Name: 40, dtype: object
Daniel Crawford
[(11, 'Daniel Crawford')]
11
id                                             277
data                                    2020-03-03
cliente_id                                     977
slug          a255a648-822f-4e2c-a674-f029ab1c703b
Name: 41, dtype: object
Rachel Brown
[(38, 'Rachel Brown')]
38
id                                             266
data                                    2020-11-16
cliente_id                                     977
slug          32d3196d-86c5-4a26-ab8a-832b4cc846e0
Name: 42, dtype: object
Rachel Brown
[(38, 'Rachel Brown')]
38
id                                             225
data                                    2020-02-10
cliente_id                                     227
slug          ed91b457-d810-4b2d-8456-2f0c5663abf1
Name: 43, dtype: object
Emily Hull
[(26, 'Emily Hull')]
26
id                                             626
data                                    2020-11-13
cliente_id                                     812
slug          2445df58-7f08-42a9-a7d8-2a5df028d641
Name: 44, dtype: object
Craig Johnson Jr.
[(30, 'Craig Johnson Jr.')]
30
id                                             427
data                                    2020-10-15
cliente_id                                     333
slug          20531bc1-4708-4eae-9bd0-e22eda4cc345
Name: 45, dtype: object
Robert Hunt
[(36, 'Robert Hunt')]
36
id                                             390
data                                    2020-04-11
cliente_id                                     184
slug          7d7fa709-7000-448b-9dfc-ed9ac84ffa2e
Name: 46, dtype: object
Jeffrey George
[(33, 'Jeffrey George')]
33
id                                             742
data                                    2020-02-23
cliente_id                                     377
slug          5f50aaa5-83bf-4044-8b94-665d25690599
Name: 47, dtype: object
Tracy Rivera
[(18, 'Tracy Rivera')]
18
id                                             552
data                                    2020-08-13
cliente_id                                     778
slug          653efc18-108f-4588-9a41-a32cd305e2f8
Name: 48, dtype: object
Micheal Dixon
[(5, 'Micheal Dixon')]
5
id                                             897
data                                    2020-10-24
cliente_id                                     175
slug          ca4b5f68-303d-4e6d-a435-cd4714f5ed4a
Name: 49, dtype: object
Wendy Pacheco
[(42, 'Wendy Pacheco')]
42
id                                             632
data                                    2020-04-09
cliente_id                                     193
slug          08411a07-52ac-4efa-89f4-c848920783b7
Name: 50, dtype: object
Tara Scott
[(6, 'Tara Scott')]
6
id                                             145
data                                    2020-10-05
cliente_id                                     574
slug          6effabc5-f201-4a07-91c1-e6e951f60b5b
Name: 51, dtype: object
Kimberly Gibbs
[(21, 'Kimberly Gibbs')]
21
id                                             431
data                                    2020-07-19
cliente_id                                     914
slug          f5f4ee35-af0c-4be2-a307-75acc2c861ed
Name: 52, dtype: object
Jasmine Lawson
[(49, 'Jasmine Lawson')]
49
id                                             778
data                                    2020-12-27
cliente_id                                     193
slug          eb9a738b-b3d4-416f-9f3d-ed1df984f790
Name: 53, dtype: object
Tara Scott
[(6, 'Tara Scott')]
6
id                                             100
data                                    2020-03-12
cliente_id                                     930
slug          43d75b27-ff1e-4b17-94c5-3e5232d7e8fa
Name: 54, dtype: object
Cassidy Johnson
[(22, 'Cassidy Johnson')]
22
id                                             312
data                                    2020-03-08
cliente_id                                     227
slug          54c7346a-c3e5-4b5e-a23c-c246f5af75d4
Name: 55, dtype: object
Emily Hull
[(26, 'Emily Hull')]
26
id                                             639
data                                    2020-08-05
cliente_id                                     709
slug          1b7d5ec8-baa9-43c7-ab3d-ae107e58ec23
Name: 56, dtype: object
Jimmy Singh
[(40, 'Jimmy Singh')]
40
id                                             756
data                                    2020-05-27
cliente_id                                     669
slug          0a408f39-4241-4cc9-a414-0af627f2e17f
Name: 57, dtype: object
Tina Anderson
[(7, 'Tina Anderson')]
7
id                                             941
data                                    2020-08-03
cliente_id                                     822
slug          6d6c0f79-7021-4772-926d-2cb8a78e53d8
Name: 58, dtype: object
Jill Barber
[(48, 'Jill Barber')]
48
id                                             673
data                                    2020-09-22
cliente_id                                     781
slug          8de554be-0da3-4ca2-9427-0527f5bbc026
Name: 59, dtype: object
Patrick Bass
[(24, 'Patrick Bass')]
24
id                                             166
data                                    2020-05-12
cliente_id                                     124
slug          b4b7f8c3-1c83-40f6-bf74-0a2630ebc5bf
Name: 60, dtype: object
Joshua Lewis
[(50, 'Joshua Lewis')]
50
id                                             746
data                                    2020-09-20
cliente_id                                     977
slug          bbe9e226-9f0b-4a36-b931-8b118e703b47
Name: 61, dtype: object
Rachel Brown
[(38, 'Rachel Brown')]
38
id                                             656
data                                    2020-01-03
cliente_id                                     981
slug          d3cbaf26-68e5-495e-baaa-bec8f459d79c
Name: 62, dtype: object
Lauren Garza
[(15, 'Lauren Garza')]
15
id                                             706
data                                    2020-05-24
cliente_id                                     715
slug          b3c23f2b-f376-4561-b2f6-25be143e7b03
Name: 63, dtype: object
Stephanie Becker
[(4, 'Stephanie Becker')]
4
id                                             836
data                                    2020-08-20
cliente_id                                     333
slug          bbbd6047-aff4-4781-9af8-ed9f67322428
Name: 64, dtype: object
Robert Hunt
[(36, 'Robert Hunt')]
36
id                                             581
data                                    2020-03-05
cliente_id                                     124
slug          23a893e4-d329-4893-ab52-c19f76d47926
Name: 65, dtype: object
Joshua Lewis
[(50, 'Joshua Lewis')]
50
id                                             999
data                                    2020-07-07
cliente_id                                     175
slug          f52eecdc-92ec-4e02-96b3-09f53c85954f
Name: 66, dtype: object
Wendy Pacheco
[(42, 'Wendy Pacheco')]
42
id                                             401
data                                    2020-02-02
cliente_id                                     408
slug          37c5ef97-29d3-4e3e-8851-e8707d88e806
Name: 67, dtype: object
Rodney Clements
[(43, 'Rodney Clements')]
43
id                                             819
data                                    2020-01-01
cliente_id                                     333
slug          cfe3991e-8ae6-4c1b-853b-ead80fa6a154
Name: 68, dtype: object
Robert Hunt
[(36, 'Robert Hunt')]
36
id                                             213
data                                    2020-12-25
cliente_id                                     459
slug          152b4dcc-61de-4846-9946-36c19235b504
Name: 69, dtype: object
William Reid
[(31, 'William Reid')]
31
id                                             310
data                                    2020-05-14
cliente_id                                     124
slug          a20ff907-8f31-436e-b0e7-4e446899af5d
Name: 70, dtype: object
Joshua Lewis

[(50, 'Joshua Lewis')]
50
id                                             675
data                                    2020-05-10
cliente_id                                     886
slug          ee879f96-d9e5-45c6-8e84-9244420a78ef
Name: 71, dtype: object
Donna Calderon
[(45, 'Donna Calderon')]
45
id                                             432
data                                    2020-06-11
cliente_id                                     227
slug          5d510189-489b-4723-985d-a66a317191d5
Name: 72, dtype: object
Emily Hull
[(26, 'Emily Hull')]
26
id                                             607
data                                    2020-10-10
cliente_id                                     234
slug          07300899-f717-4384-a086-5ebe16fce62f
Name: 73, dtype: object
Shirley Cook
[(32, 'Shirley Cook')]
32
id                                             493
data                                    2020-04-05
cliente_id                                     822
slug          bce6b76d-7b22-4d20-85f9-76e3b119b264
Name: 74, dtype: object
Jill Barber
[(48, 'Jill Barber')]
48
id                                             818
data                                    2020-03-20
cliente_id                                     778
slug          67c07632-0134-4aa6-b222-433b28af3234
Name: 75, dtype: object
Micheal Dixon
[(5, 'Micheal Dixon')]
5
id                                             193
data                                    2020-11-26
cliente_id                                     715
slug          f2df5dcc-5e23-44f0-9f97-d762c5ea2b65
Name: 76, dtype: object
Stephanie Becker
[(4, 'Stephanie Becker')]
4
id                                             669
data                                    2020-06-16
cliente_id                                     124
slug          0c3903dc-7897-4277-8359-24a9ab3047b4
Name: 77, dtype: object
Joshua Lewis
[(50, 'Joshua Lewis')]
50
id                                             623
data                                    2020-12-05
cliente_id                                     175
slug          423fe08c-bebf-43d5-aa0c-62305a0288df
Name: 78, dtype: object
Wendy Pacheco
[(42, 'Wendy Pacheco')]
42
id                                             893
data                                    2020-12-12
cliente_id                                     227
slug          d7807bee-ee27-4988-9f3a-41ae51733afa
Name: 79, dtype: object
Emily Hull
[(26, 'Emily Hull')]
26
id                                             442
data                                    2020-08-22
cliente_id                                     459
slug          2704a64d-1a3f-425e-8615-4839b830a350
Name: 80, dtype: object
William Reid
[(31, 'William Reid')]
31
id                                             326
data                                    2020-02-20
cliente_id                                     670
slug          8b92d140-4190-4fb2-b41c-29f87c0363d5
Name: 81, dtype: object
Nicole Wagner
[(34, 'Nicole Wagner')]
34
id                                             651
data                                    2020-12-04
cliente_id                                     886
slug          95fec2a2-da73-40ef-9364-41b2b0ed983b
Name: 82, dtype: object
Donna Calderon
[(45, 'Donna Calderon')]
45
id                                             184
data                                    2020-11-20
cliente_id                                     914
slug          ac82d91b-31d4-4262-ad49-6e821c732a4f
Name: 83, dtype: object
Jasmine Lawson
[(49, 'Jasmine Lawson')]
49
id                                             411
data                                    2020-04-08
cliente_id                                     778
slug          25d79506-75b7-4023-8317-b8ee217c27ef
Name: 84, dtype: object
Micheal Dixon
[(5, 'Micheal Dixon')]
5
id                                             760
data                                    2020-12-06
cliente_id                                     981
slug          8b089c54-763d-44ca-9138-2de8faee5c01
Name: 85, dtype: object
Lauren Garza
[(15, 'Lauren Garza')]
15
id                                             915
data                                    2020-04-10
cliente_id                                     175
slug          2f4219e2-9b03-44f4-a5fc-ceb8ff607554
Name: 86, dtype: object
Wendy Pacheco
[(42, 'Wendy Pacheco')]
42
id                                             827
data                                    2020-08-25
cliente_id                                     175
slug          8cd8e314-936b-4d58-ba13-95bb908b420e
Name: 87, dtype: object
Wendy Pacheco
[(42, 'Wendy Pacheco')]
42
id                                             493
data                                    2020-01-20
cliente_id                                     715
slug          d5bac7d8-fc4c-41b5-88bb-c2ba68919ce9
Name: 88, dtype: object
Stephanie Becker
[(4, 'Stephanie Becker')]
4
id                                             690
data                                    2020-01-21
cliente_id                                     981
slug          a9512704-0831-479e-a72f-7f8bbb897969
Name: 89, dtype: object
Lauren Garza
[(15, 'Lauren Garza')]
15
id                                             230
data                                    2020-10-16
cliente_id                                     738
slug          cc3b0485-20a5-4ab8-820e-e1e61ee7c7b9
Name: 90, dtype: object
Molly Waters
[(28, 'Molly Waters')]
28
id                                             812
data                                    2020-02-03
cliente_id                                     459
slug          e2157027-48ae-4897-9808-94ff61778866
Name: 91, dtype: object
William Reid
[(31, 'William Reid')]
31
id                                             963
data                                    2020-09-27
cliente_id                                     930
slug          5878a4b5-4d55-4624-95ec-2406a93bc133
Name: 92, dtype: object
Cassidy Johnson
[(22, 'Cassidy Johnson')]
22
id                                             285
data                                    2020-01-06
cliente_id                                     886
slug          f48f142c-083e-45bf-972d-d8a09215e491
Name: 93, dtype: object
Donna Calderon
[(45, 'Donna Calderon')]
45
id                                             684
data                                    2020-04-26
cliente_id                                     830
slug          aecbb7bb-5b85-453f-8503-126cd904cf88
Name: 94, dtype: object
Maria Nixon
[(12, 'Maria Nixon')]
12
id                                             143
data                                    2020-09-15
cliente_id                                     145
slug          77d2fbab-79b1-4a6b-a00e-0df0fbc5da70
Name: 95, dtype: object
Nicole Sosa
[(17, 'Nicole Sosa')]
17
id                                             251
data                                    2020-05-25
cliente_id                                     812
slug          56005368-acde-48ab-9a14-353b2c02d34a
Name: 96, dtype: object
Craig Johnson Jr.
[(30, 'Craig Johnson Jr.')]
30
id                                             506
data                                    2020-03-06
cliente_id                                     333
slug          3a799c20-c550-489b-a482-95db2211bec7
Name: 97, dtype: object
Robert Hunt
[(36, 'Robert Hunt')]
36
id                                             492
data                                    2020-12-19
cliente_id                                     153
slug          36a77e90-7b8b-4351-a43f-6d555152e71f
Name: 98, dtype: object
Ann Brown
[(46, 'Ann Brown')]
46
id                                             559
data                                    2020-09-15
cliente_id                                     738
slug          618bda4e-abfe-4d72-82dc-7dde06f72669
Name: 99, dtype: object
Molly Waters
[(28, 'Molly Waters')]
28

In [26]:
# Monta uma lista de vendas.
items_venda = df_venda.T.apply(dict).tolist()
items_venda[:2]

[{'id': 490,
  'data': '2020-03-15',
  'cliente_id': 822,
  'slug': '07f8690e-d1d8-41dc-b866-cdbbbfad445e'},
 {'id': 624,
  'data': '2020-05-06',
  'cliente_id': 778,
  'slug': '39b30e02-17a8-4527-a23b-99ed78602bb4'}]

In [27]:
# Monta um dicionário de vendas.
dict_venda = get_data(items=items_venda, field='slug')
dict_venda

{'490': '07f8690e-d1d8-41dc-b866-cdbbbfad445e',
 '624': '5c2261e9-2d9f-4040-8d74-2b458116dd16',
 '128': '6cc58638-feea-4f3c-8da6-c9611ac1de65',
 '792': '3d6c6822-7851-483f-95d4-c375abda6e51',
 '602': '36aab7e1-4c1d-4044-9977-d2d006df0f9b',
 '194': 'aa060ef8-5931-48d9-9ea4-9aa1eeebd910',
 '976': 'b08121cb-e7cd-477f-b3be-4888a869dc5a',
 '264': 'd5feb6f3-87cf-416c-8a81-b96d88a180e9',
 '821': '94a52c2a-c7bc-4abd-9556-6b92b9064129',
 '381': '48fe67f4-3581-47cd-93ad-83596e8e593e',
 '159': 'dd7f8f47-1f54-4bec-89d2-54c11f3e8e9f',
 '888': '7edafde0-90e0-40cf-a0b5-5a79ffcbf538',
 '454': '13a3d1b1-aca5-423b-87d7-3266286590b4',
 '387': 'b623f81f-f97e-4a49-b87f-e23abe855a6a',
 '651': '95fec2a2-da73-40ef-9364-41b2b0ed983b',
 '805': 'c8af36cd-33a2-4940-a114-10a4fe0fcfa0',
 '355': '0a419692-57eb-42c5-b78d-2ea84a46e8b7',
 '296': '130077fb-dca1-45e4-b519-dc5360603c1b',
 '327': 'd66aa5b6-8e7e-465e-98d9-8f0ab16792f9',
 '478': '4d707264-2216-45f0-a52f-c3273aa0add8',
 '125': '791939b3-af89-474d-9fe2-a04771a228c5',
 '939': 'bc119b70-2de7-4c5a-922e-21d5df005e72',
 '148': '21ce7f93-0ea0-45ad-8cd1-d75829c3ac2e',
 '204': 'e2730d49-e101-47e5-b594-b8c6ed15c00f',
 '918': 'd07abdd1-5b20-49b5-8cbb-21380266cc4f',
 '580': 'c1447bed-a249-4dd4-aea5-79883338d70c',
 '137': '888b6d9c-29e8-4c5a-b4d9-8ea2fbd1e148',
 '724': 'e8c8c72a-987d-4356-9eb7-79e16af3896a',
 '306': 'ba2c5288-8655-4085-b2bb-c3926092d9c4',
 '291': '627d4f16-61eb-4027-9998-72b2b844e57c',
 '908': 'f89edb54-ffe5-4339-8199-2b087bb5d34e',
 '758': '85c0ec3e-7c51-40ad-82d9-97e9e7e0d1cf',
 '747': '91b9cd9b-5d9c-411d-b7ab-29c8d3df67a7',
 '599': '14e3970b-e9e3-4417-b70f-aeb5783d0ab3',
 '390': '7d7fa709-7000-448b-9dfc-ed9ac84ffa2e',
 '616': 'c0f172ff-3e98-47e2-a17d-84ce54b4dcf0',
 '942': '3b1243a8-a765-4df0-9240-14c2fcbea855',
 '248': 'ad2f7195-0402-41e0-bdb9-7a7830ee262a',
 '804': 'e4555a6e-e78c-4f52-8bf8-9877e62ee88e',
 '520': '7aa58f25-0931-4f5d-bad9-3606fc1382ad',
 '277': 'a255a648-822f-4e2c-a674-f029ab1c703b',
 '266': '32d3196d-86c5-4a26-ab8a-832b4cc846e0',
 '225': 'ed91b457-d810-4b2d-8456-2f0c5663abf1',
 '626': '2445df58-7f08-42a9-a7d8-2a5df028d641',
 '427': '20531bc1-4708-4eae-9bd0-e22eda4cc345',
 '742': '5f50aaa5-83bf-4044-8b94-665d25690599',
 '552': '653efc18-108f-4588-9a41-a32cd305e2f8',
 '897': 'ca4b5f68-303d-4e6d-a435-cd4714f5ed4a',
 '632': '08411a07-52ac-4efa-89f4-c848920783b7',
 '145': '6effabc5-f201-4a07-91c1-e6e951f60b5b',
 '431': 'f5f4ee35-af0c-4be2-a307-75acc2c861ed',
 '778': 'eb9a738b-b3d4-416f-9f3d-ed1df984f790',
 '100': '43d75b27-ff1e-4b17-94c5-3e5232d7e8fa',
 '312': '54c7346a-c3e5-4b5e-a23c-c246f5af75d4',
 '639': '1b7d5ec8-baa9-43c7-ab3d-ae107e58ec23',
 '756': '0a408f39-4241-4cc9-a414-0af627f2e17f',
 '941': '6d6c0f79-7021-4772-926d-2cb8a78e53d8',
 '673': '8de554be-0da3-4ca2-9427-0527f5bbc026',
 '166': 'b4b7f8c3-1c83-40f6-bf74-0a2630ebc5bf',
 '746': 'bbe9e226-9f0b-4a36-b931-8b118e703b47',
 '656': 'd3cbaf26-68e5-495e-baaa-bec8f459d79c',
 '706': 'b3c23f2b-f376-4561-b2f6-25be143e7b03',
 '836': 'bbbd6047-aff4-4781-9af8-ed9f67322428',
 '581': '23a893e4-d329-4893-ab52-c19f76d47926',
 '999': 'f52eecdc-92ec-4e02-96b3-09f53c85954f',
 '401': '37c5ef97-29d3-4e3e-8851-e8707d88e806',
 '819': 'cfe3991e-8ae6-4c1b-853b-ead80fa6a154',
 '213': '152b4dcc-61de-4846-9946-36c19235b504',
 '310': 'a20ff907-8f31-436e-b0e7-4e446899af5d',
 '675': 'ee879f96-d9e5-45c6-8e84-9244420a78ef',
 '432': '5d510189-489b-4723-985d-a66a317191d5',
 '607': '07300899-f717-4384-a086-5ebe16fce62f',
 '493': 'd5bac7d8-fc4c-41b5-88bb-c2ba68919ce9',
 '818': '67c07632-0134-4aa6-b222-433b28af3234',
 '193': 'f2df5dcc-5e23-44f0-9f97-d762c5ea2b65',
 '669': '0c3903dc-7897-4277-8359-24a9ab3047b4',
 '623': '423fe08c-bebf-43d5-aa0c-62305a0288df',
 '893': 'd7807bee-ee27-4988-9f3a-41ae51733afa',
 '442': '2704a64d-1a3f-425e-8615-4839b830a350',
 '326': '8b92d140-4190-4fb2-b41c-29f87c0363d5',
 '184': 'ac82d91b-31d4-4262-ad49-6e821c732a4f',
 '411': '25d79506-75b7-4023-8317-b8ee217c27ef',
 '760': '8b089c54-763d-44ca-9138-2de8faee5c01',
 '915': '2f4219e2-9b03-44f4-a5fc-ceb8ff607554',
 '827': '8cd8e314-936b-4d58-ba13-95bb908b420e',
 '690': 'a9512704-0831-479e-a72f-7f8bbb897969',
 '230': 'cc3b0485-20a5-4ab8-820e-e1e61ee7c7b9',
 '812': 'e2157027-48ae-4897-9808-94ff61778866',
 '963': '5878a4b5-4d55-4624-95ec-2406a93bc133',
 '285': 'f48f142c-083e-45bf-972d-d8a09215e491',
 '684': 'aecbb7bb-5b85-453f-8503-126cd904cf88',
 '143': '77d2fbab-79b1-4a6b-a00e-0df0fbc5da70',
 '251': '56005368-acde-48ab-9a14-353b2c02d34a',
 '506': '3a799c20-c550-489b-a482-95db2211bec7',
 '492': '36a77e90-7b8b-4351-a43f-6d555152e71f',
 '559': '618bda4e-abfe-4d72-82dc-7dde06f72669'}

In [28]:
# Monta uma lista de produtos.
items_produto = df_produto.T.apply(dict).tolist()
items_produto[:2]

[{'id': 122, 'produto': 'industry most', 'preco': 17.46, 'categoria_id': 124},
 {'id': 554,
  'produto': 'involve machine',
  'preco': 19.39,
  'categoria_id': 124}]

In [29]:
# Monta um dicionário de produtos.
dict_produto = get_data(items=items_produto, field='produto')
dict_produto

{'122': 'industry most',
 '554': 'involve machine',
 '936': 'risk care',
 '397': 'least prove',
 '322': 'think already',
 '272': 'sure necessary',
 '600': 'billion pretty',
 '589': 'life social',
 '732': 'central dog',
 '684': 'also evening',
 '132': 'phone keep',
 '808': 'record single',
 '839': 'me prevent',
 '183': 'campaign learn',
 '688': 'force present',
 '301': 'probably activity',
 '274': 'main benefit',
 '148': 'politics candidate',
 '990': 'stand available',
 '465': 'yard degree',
 '530': 'ago per',
 '777': 'man cover',
 '629': 'expect help',
 '957': 'cover huge',
 '731': 'laugh worker',
 '107': 'amount interesting',
 '989': 'never they',
 '763': 'else force',
 '299': 'sense thing',
 '478': 'middle sit',
 '624': 'wall provide',
 '344': 'movie air',
 '780': 'entire glass',
 '220': 'drug step',
 '634': 'walk discuss',
 '799': 'method minute',
 '873': 'need certain',
 '422': 'parent music',
 '312': 'tough return',
 '577': 'measure hear',
 '636': 'gun whose',
 '698': 'top attorney',
 '152': 'exactly fall',
 '499': 'shake he',
 '308': 'responsibility ground',
 '489': 'five well',
 '887': 'product capital',
 '221': 'always house'}

In [30]:
def insert_itens_venda():
    for i, row in df_itens_venda.iterrows():
        quantidade = str(row['quantidade']))
        preco_venda = row['preco_venda']
        venda_id = str(row['venda_id']).replace('.0', '')
        print(venda_id)
        venda = dict_venda.get(venda_id)
        cursor.execute(f"SELECT * FROM venda WHERE slug='{venda}';")
        venda = cursor.fetchall()
        venda_id = venda[0][0]
        produto_id = str(row['produto_id']).replace('.0', '')
        print(produto_id)
        produto = dict_produto.get(produto_id)
        cursor.execute(f"SELECT * FROM produto WHERE produto='{produto}';")
        produto = cursor.fetchall()
        print(produto)
        produto_id = produto[0][0]
        cursor.execute(f"INSERT INTO itens_venda (quantidade, preco_venda, venda_id, produto_id) VALUES ('{quantidade}', '{preco_venda}', '{venda_id}', '{produto_id}') ON CONFLICT DO NOTHING")  # noqa
    connection.commit()
insert_itens_venda()

552
308
[(47, 'responsibility ground', Decimal('257.77'), 3)]

InvalidTextRepresentation: invalid input syntax for integer: "73.0"
LINE 1: ...idade, preco_venda, venda_id, produto_id) VALUES ('73.0', '4...
                                                             ^

In [ ]:
lista2 = ['A', 'B', 'C']

In [ ]:
lista2[0]

In [ ]:
lista2[1]

In [ ]:
lista2[2]

In [ ]:
lista2[3]