# Objetivo

Dada uma planilha em Excel, inserir os dados da planilha num banco de dados PostgreSQL.

Dica: você pode usar Python junto com psycopg2 para se conectar no PostgreSQL.
    
Passos:

* Criar uma virtualenv

* Instalar psycopg2

* Ler os dados da planilha Excel

* Tratar os dados, se necessário
* Inserir os dados no banco PostgreSQL
* Coloque seu projeto no Gitlab, ou Github pessoal e me manda o link do repositório

# Dependências

## Biblioteca

In [1]:
import psycopg2
import pandas as pd
from decouple import config

## Dados e Constantes

In [11]:
df = pd.read_excel('categorias.xlsx')
df_1 = pd.read_excel('produtos.xlsx')
df_2 = pd.read_excel('produtos-com-categoria.xlsx')

In [3]:
#tabela categoria
df.head()

   id   categoria
0   1     bebidas
1   2  sobremesas
2   3     cereais
3   4       frios
4   5     limpeza

In [4]:
#Tabela produtos
df_1.head()

   id          produto  preco
0   1              uva   2.59
1   2      Suco de uva  10.47
2   3    Suco de manga  10.47
3   4     Suco de maça  10.47
4   5  Suco de laranja  10.47

In [12]:
#Produtos com categorias
df_2.head()

   id          produto  preco  categoria
0   1              uva   2.59          6
1   2      Suco de uva  10.47          1
2   3    Suco de manga  10.47          1
3   4     Suco de maça  10.47          1
4   5  Suco de laranja  10.47          1

## Inserindo os dados no banco Psql

In [5]:
try:
    connection = psycopg2.connect(user = "my_usuario",
                                  password = config("PASSAWORD"),
                                  host = "127.0.0.1",
                                  port = "5432",
                                  database = "my_db")

    cursor = connection.cursor()
    # Print PostgreSQL Connection properties
    print ( connection.get_dsn_parameters(),"\n")

    # Print PostgreSQL version
    cursor.execute("SELECT version();")
    record = cursor.fetchone()
    print("You are connected to - ", record,"\n")

except (Exception, psycopg2.Error) as error :
    print ("Error while connecting to PostgreSQL", error)

{'user': 'my_usuario', 'dbname': 'my_db', 'host': '127.0.0.1', 'port': '5432', 'tty': '', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

You are connected to -  ('PostgreSQL 11.9 (Ubuntu 11.9-1.pgdg20.04+1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 9.3.0-10ubuntu2) 9.3.0, 64-bit',)

In [6]:
cur = connection.cursor()

In [12]:
#Criando tabela para categoria
cur.execute("""CREATE TABLE IF NOT EXISTS categoria (id SERIAL PRIMARY KEY, nome VARCHAR(50));""")

In [13]:
for i,row in df.iterrows():
    name = row["categoria"]
    cur.execute(f"INSERT INTO categoria (nome) VALUES ('{name}')")

In [6]:
connection.commit()

In [11]:
cur.execute("SELECT * FROM categoria;")
cur.fetchall()

[(1, 'bebidas'),
 (2, 'sobremesas'),
 (3, 'cereais'),
 (4, 'frios'),
 (5, 'limpeza'),
 (6, 'hortifruti'),
 (7, 'perfumaria'),
 (8, 'mercearia'),
 (9, 'bazar'),
 (10, 'pet shop')]

In [7]:
#Criando tabela para produtos. 
cur.execute("""CREATE TABLE IF NOT EXISTS produtos(id SERIAL PRIMARY KEY, nome_produto VARCHAR(50), valor_produto money);""")

In [8]:
for i, row in df_1.iterrows():
    nome_produto = row["produto"]
    valor_produto = row["preco"]
    cur.execute(f"INSERT INTO produtos (nome_produto, valor_produto) VALUES ('{nome_produto}','{valor_produto}')")

In [9]:
connection.commit()

In [10]:
cur.execute("SELECT * FROM produtos;")
cur.fetchall()

[(1, 'uva', 'R$ 259,00'),
 (2, 'Suco de uva', 'R$ 1.047,00'),
 (3, 'Suco de manga', 'R$ 1.047,00'),
 (4, 'Suco de maça', 'R$ 1.047,00'),
 (5, 'Suco de laranja', 'R$ 1.047,00'),
 (6, 'shampoo', 'R$ 397,00'),
 (7, 'sardinha enlatada', 'R$ 863,00'),
 (8, 'sandália Havaianas', 'R$ 456,00'),
 (9, 'sabonete', 'R$ 275,00'),
 (10, 'Sabão em pó', 'R$ 1.793,00'),
 (11, 'Sabão em barra', 'R$ 175,00'),
 (12, 'Ração para gato', 'R$ 1.496,00'),
 (13, 'Ração para cachorro', 'R$ 863,00'),
 (14, 'quinoa', 'R$ 712,00'),
 (15, 'Queijo mussarela', 'R$ 533,00'),
 (16, 'Queijo frescal', 'R$ 555,00'),
 (17, 'Pudim', 'R$ 255,00'),
 (18, 'Petit Gateau', 'R$ 677,00'),
 (19, 'óleo de soja', 'R$ 46,00'),
 (20, 'óleo de girassol', 'R$ 1.685,00'),
 (21, 'mortadela', 'R$ 639,00'),
 (22, 'melão', 'R$ 112,00'),
 (23, 'melancia', 'R$ 21,00'),
 (24, 'manga', 'R$ 1.541,00'),
 (25, 'maionese', 'R$ 332,00'),
 (26, 'macarrão', 'R$ 54,00'),
 (27, 'maçã', 'R$ 314,00'),
 (28, 'linhaça', 'R$ 53,00'),
 (29, 'leite', 'R$ 1.084,00'),
 (30, 'laranja', 'R$ 31,00'),
 (31, 'Itubaina', 'R$ 28,00'),
 (32, 'granola', 'R$ 708,00'),
 (33, 'Gelatina', 'R$ 742,00'),
 (34, 'flocos de milho', 'R$ 1.361,00'),
 (35, 'feijão', 'R$ 89,00'),
 (36, 'farinha de trigo', 'R$ 882,00'),
 (37, 'Fanta Uva', 'R$ 396,00'),
 (38, 'Fanta Laranja', 'R$ 349,00'),
 (39, 'extrato de tomate', 'R$ 112,00'),
 (40, 'escova dental', 'R$ 1.072,00'),
 (41, 'Detergente', 'R$ 529,00'),
 (42, 'desodorante', 'R$ 295,00'),
 (43, 'Desinfetante', 'R$ 469,00'),
 (44, 'creme dental', 'R$ 145,00'),
 (45, 'creme de barbear', 'R$ 248,00'),
 (46, 'condicionador', 'R$ 90,00'),
 (47, 'Coleira', 'R$ 1.181,00'),
 (48, 'Coca-Cola', 'R$ 349,00'),
 (49, 'chá', 'R$ 498,00'),
 (50, 'centeio', 'R$ 89,00'),
 (51, 'Camiseta branca', 'R$ 178,00'),
 (52, 'café', 'R$ 708,00'),
 (53, 'Bola de morder', 'R$ 596,00'),
 (54, 'Bananinha', 'R$ 86,00'),
 (55, 'banana', 'R$ 171,00'),
 (56, 'azeite', 'R$ 335,00'),
 (57, 'aveia', 'R$ 1.003,00'),
 (58, 'atum enlatado', 'R$ 17,00'),
 (59, 'arroz', 'R$ 55,00'),
 (60, 'Apresuntado', 'R$ 482,00'),
 (61, 'Ambrosia', 'R$ 255,00'),
 (62, 'Água sanitária', 'R$ 1.389,00'),
 (63, 'abacaxi', 'R$ 102,00'),
 (64, 'abacate', 'R$ 634,00')]

In [ ]:
#Produtos com caminhão
cur.execute("""CREATE TABLE IF NOT EXISTS produtos(id SERIAL PRIMARY KEY, nome_produto VARCHAR(50), valor_produto money);""")