# Objetivo

Dada uma planilha em Excel, inserir os dados da planilha num banco de dados PostgreSQL.

Dica: você pode usar Python junto com psycopg2 para se conectar no PostgreSQL.
    
Passos:

* Criar uma virtualenv

* Instalar psycopg2

* Ler os dados da planilha Excel

* Tratar os dados, se necessário
* Inserir os dados no banco PostgreSQL
* Coloque seu projeto no Gitlab, ou Github pessoal e me manda o link do repositório

# Dependências

## Biblioteca

In [1]:
import psycopg2
import pandas as pd
import numpy as np
import seaborn as sns
#import missingno as msno
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
%matplotlib inline

## Dados e Constantes

In [2]:
df = pd.read_excel('categorias.xlsx')
df.head(10)

   id   categoria
0   1     bebidas
1   2  sobremesas
2   3     cereais
3   4       frios
4   5     limpeza
5   6  hortifruti
6   7  perfumaria
7   8   mercearia
8   9       bazar
9  10    pet shop

## Inserindo os dados no banco Psql

In [3]:
try:
    connection = psycopg2.connect(user = "meu_grazielly",
                                  password = "1523",
                                  host = "127.0.0.1",
                                  port = "5432",
                                  database = "meu_db")

    cursor = connection.cursor()
    # Print PostgreSQL Connection properties
    print ( connection.get_dsn_parameters(),"\n")

    # Print PostgreSQL version
    cursor.execute("SELECT version();")
    record = cursor.fetchone()
    print("You are connected to - ", record,"\n")

except (Exception, psycopg2.Error) as error :
    print ("Error while connecting to PostgreSQL", error)

{'user': 'meu_grazielly', 'dbname': 'meu_db', 'host': '127.0.0.1', 'port': '5432', 'tty': '', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

You are connected to -  ('PostgreSQL 11.9 (Ubuntu 11.9-1.pgdg18.04+1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0, 64-bit',)

In [4]:
cur = connection.cursor()

In [7]:
#Criando tabela para categoria
cur.execute("""CREATE TABLE IF NOT EXISTS supermercado_1(id SERIAL PRIMARY KEY, nome_categoria VARCHAR(50));""")

In [8]:
#Inserindo dados para a tabela Categoria
cur.execute("INSERT INTO supermercado_1(nome_categoria) VALUES ('bebidas')")
cur.execute("INSERT INTO supermercado_1(nome_categoria) VALUES ('sobremesas')")
cur.execute("INSERT INTO supermercado_1(nome_categoria) VALUES ('cereais')")
cur.execute("INSERT INTO supermercado_1(nome_categoria) VALUES ('frios')")
cur.execute("INSERT INTO supermercado_1(nome_categoria) VALUES ('cereais')")
cur.execute("INSERT INTO supermercado_1(nome_categoria) VALUES ('limpeza')")
cur.execute("INSERT INTO supermercado_1(nome_categoria) VALUES ('hortifruti')")
cur.execute("INSERT INTO supermercado_1(nome_categoria) VALUES ('perfumaria')")
cur.execute("INSERT INTO supermercado_1(nome_categoria) VALUES ('mercearia')")
cur.execute("INSERT INTO supermercado_1(nome_categoria) VALUES ('bazar')")
cur.execute("INSERT INTO supermercado_1(nome_categoria) VALUES ('pet shop')")

In [9]:
cur.execute("SELECT * FROM supermercado_1;")

In [10]:
cur.fetchall()

[(1, 'bebidas'),
 (2, 'sobremesas'),
 (3, 'cereais'),
 (4, 'frios'),
 (5, 'cereais'),
 (6, 'limpeza'),
 (7, 'hortifruti'),
 (8, 'perfumaria'),
 (9, 'mercearia'),
 (10, 'bazar'),
 (11, 'pet shop')]